include README.rst
include LICENSE
include CHANGELOG.md
include pyproject.toml

recursive-include aiotasks *.py
recursive-include tests *.py
recursive-include docs *.md
recursive-include examples_new *.py

exclude .gitignore
exclude .pre-commit-config.yaml
exclude pytest.ini

global-exclude __pycache__
global-exclude *.py[cod]
global-exclude *~
global-exclude *.so
